<h1>Reestablecer</h1>
<form action="" id="formLogin">
  <label for="label_reestablecer_email">Email</label> <input id="input_reestablecer_email" type="email" value="{{usuario}}" disabled><br>
  <label for="label_reestablecer_name">Nombre</label> <input id="input_reestablecer_name" type="text" placeholder="Name" required><br>
  <label for="label_reestablecer_last_name">Apellido</label> <input id="input_reestablecer_last_name" type="text" placeholder="Last name" required><br>
  <label for="label_reestablecer_password">Contraseña nueva</label> <input id="input_reestablecer_password" type="password" placeholder="New pssword" minlength="5" required><br>
  <label for="label_reestablecer_password_confirm">Repetir contraseña</label> <input id="input_reestablecer_password_confirm" type="password" placeholder="Repeat password" minlength="5" required><br>
  <button type="submit" id="btn_reestablecer_submit">Reestablecer</button>
</form>

<div>
<h1>Lista de usuarios</h1>
          <ul>
            {{#each usuarios}}
            <li>{{this}}</li>
            {{/each}}
          </ul>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/reestablecer.js"></script>